body {
  padding-top: 60px;
  padding-left: 70px;
  padding-right: 70px;
}
body .navbar-right .navbar-form input {
  margin-right: 12px;
}
body footer p {
  border-top: 1px solid #000;
  padding-top: 20px;
}
