body {
  padding-top: 60px;
  padding-left: 70px;
  padding-right: 70px;
}
.navbar-right .navbar-form input {
  margin-right: 12px;
}
.navbar-right .navbar-form a.btn {
  margin-left: 10px;
}
.toast-top-right {
  top: 70px;
}
footer {
  padding-left: 120px;
  padding-right: 120px;
}
footer p {
  border-top: 1px solid #000;
  padding-top: 20px;
}
