.container
    .jumbotron
        h1 Auto Trader
    .row
        .col-md-6
            .panel.panel-info
                .panel-heading.text-center Most popular offers
                .panel-body(ng-include="'partials/main/most-popular-cars'")
        .col-md-6
            .panel.panel-info
                .panel-heading.text-center New offers
                .panel-body(ng-include="'partials/main/newest-cars'")
